@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --font-family-head: "Bricolage Grotesque", sans-serif;
  --font-family-body: "Inter", sans-serif;
  --font-family-main: "DM Sans", sans-serif;
  --blue: #3439ca;
  --gray: #f3f3f3;
  --black: #343536;
  --label: #111014;
  --dark-gray: #acacac;
}

body {
  max-width: 100% !important;
  margin: 0 auto;
  scroll-behavior: auto;
}
a {
  text-decoration: none;
  color: black;
  font-family: var(--font-family-body);
  /* cursor: pointer; */
}
.drops {
  cursor: pointer;
}
h1 {
  font-size: 24px;
  font-weight: 500;
  color: #161e54;
  padding-top: 5px;
}
